[user]
    email = eric@epiccoleman.com
    name = Eric Coleman
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore-global
[push]
    default = simple
[alias]
    stat  = status
    st    = status
    nuke  = reset --hard HEAD
    alias = config --get-regexp ^alias\\.
    shlog = log --oneline
    sl    = log --oneline
    cm    = commit -m
    aa    = add --all
    dc    = diff --cached
[status]
    showUntrackedFiles = all
