[user]
	email = eric@epiccoleman.com
	name = Eric Coleman
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore-global
[push]
	default = simple
[alias]
	stat = status
	st = status
        nuke = reset --hard HEAD
	alias = config --get-regexp ^alias\\.
[status]
	showUntrackedFiles = all
