[user]
	email = eric@epiccoleman.com
	name = Eric Coleman
[core]
	editor = /usr/bin/vim
[push]
	default = simple
[alias]
	stat = status
	st = status
    nuke = reset --hard HEAD
[status]
	showUntrackedFiles = all
